language: node_js
dist: trusty
sudo: required
node_js: 6
before_install:
  - openssl aes-256-cbc -K $encrypted_aba75b5b520c_key -iv $encrypted_aba75b5b520c_iv -in secrets.tar.enc -out secrets.tar -d
  - tar xvf secrets.tar
  - cp .env.production .env
script: npm test
cache:
  directories:
  - node_modules
before_deploy:
  - wget "https://cli.run.pivotal.io/stable?release=linux64-binary&source=github" -qO cf-linux-amd64.tgz && tar -zxvf cf-linux-amd64.tgz && rm cf-linux-amd64.tgz
  - cf install-plugin -f https://github.com/contraband/autopilot/releases/download/0.0.3/autopilot-linux
deploy:
  # deploy release to production
  - provider: script
    script: scripts/deploy.sh production
    on:
      branch: release
