
.anomaly-chart-container--div {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.anomaly-chart--svg {
  transition: opacity 0.3s;
}

.anomaly-chart--svg.faded {
  opacity: 0.1;
}

.anomaly-dot circle {
  stroke: #e2237e;
}

.anomaly-dot-inside {
  fill: #e2237e;
}

.anomaly-dot-outside {
  fill: none;
  stroke-width: 1;
}

.anomaly-dot-outside.active {
  stroke-width: 3;
}

.anomaly-tooltip--div {
  border: 1px solid #ccc;
  background-color: white;
  padding: 0.5rem;
  max-width: 15rem;
}

.anomaly-tooltip-articles--span {
  color: #00a78f;
}

.anomaly-tooltip-articles--span.hasAnomaly {
  color: #e2237e;
}

.anomaly-tooltip-flag--span {
  color: #e2237e;
}

.anomaly-overlay--div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  padding-top: 3rem;
}

.anomaly-overlay--div h3 {
  color: #e2237e;
}

.anomaly-overlay--div button {
  color: #e2237e;
  border-color: #e2237e;
}


@media (min-width: 485px) {
  .anomaly-chart-container--div {
    overflow: hidden;
  }
}
