
.anomaly-dot circle {
  stroke: #e2237e;
}

.anomaly-dot-inside {
  r: 6.5;
  fill: #e2237e;
}

.anomaly-dot-outside {
  r: 10.5;
  fill: none;
  stroke-width: 1;
}

.anomaly-dot-outside.active {
  stroke-width: 3;
}

.anomaly-tooltip--div {
  border: 1px solid #ccc;
  background-color: white;
  padding: 0.5rem;
}

.anomaly-tooltip-articles--span {
  color: #00a78f;
}

.anomaly-tooltip-articles--span.hasAnomaly {
  color: #e2237e;
}

.anomaly-tooltip-flag--span {
  color: #e2237e;
}
